{%  extends "home.html" %}

{% block js %}
{% endblock %}

{% block main %}
    <div class="container-narrow">

        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li class="active"><a href="{{ url_for('about') }}">About</a></li>
            </ul>
            <h3 class="muted">CSPPDB Twitter Clone</h3>
        </div>

        <hr>

        <div class="jumbotron">
            <h1>About</h1>
            <p class="lead">This twitter clone is the final project of the CS53001 CSPP Databases class of fall 2012.</p>

        </div>

        <hr>

        <div class="row-fluid marketing">
            <div class="span6">
                <h4>Hosted with Heroku</h4>
                <p>Heroku is cloud-hosting service provider</p>

                <h4>Powered by Flask</h4>
                <p>Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!</p>

            </div>

            <div class="span6">
                <h4>Controlled by Git</h4>
                <p>Git is a distributed revision source control</p>

                <h4>Themed with Bootstrap</h4>
                <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</p>


            </div>
        </div>

        <hr>

        <div class="footer">
            <p>&copy; CSPPDB 2012</p>
        </div>

    </div> <!-- /container -->
{% endblock %}


