{%  extends "home.html" %}

{%  block main %}
<div class="container-narrow">

    <!-- Modal -->
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li ><a href="{{ url_for('main') }}">Main</a></li>
            <li class="active" ><a href="{{ url_for('profile') }}">Profile</a></li>
            <li ><a href="{{ url_for('find_people') }}">Find People</a></li>
            <li ><a href="{{ url_for('find_tags') }}">Find Tags</a></li>
            <li><a href="{{ url_for('logout') }}">Logout {{ (user.username) }} </a></li>
        </ul>
        <h3 class="muted"><a href="{{ url_for('main') }}">CSPPDB Twitter Clone</a></h3>
    </div>

    <hr>

  
    <div class="container">
        <div class="row">
            <div class="span2">
              <img src="{{ user.img }}" class="img-rounded">
                  <a href="#myModal" style="width:118px; margin-top:5px" role="button" class="btn" data-toggle="modal">Tweet</a>
               <table>
                    <thead>
                    <th>Followers  {{ followeecount }}</th>
                    <th>Following  {{ followercount }}</th>
                    </thead>    
                </table>
            </div>
            <div class="span5">
                <ul class="nav nav-pills">
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li class="active"><a href="{{ url_for('edit_profile') }}">Edit</a></li>
                    <li><a href="{{ url_for('favorites') }}">Favorites</a></li>
                </ul>
                <form class="form-horizontal" action="{{ url_for('edit_profile') }}" method="POST">
                    <table class="table table-striped table-hover">
                    <!-- First -->
                    <tr><td>
                  <div class="control-group">
                    <label class="control-label" for="first">First:</label>
                    <div class="controls">
                      <input type="text" name="first" value="{{ user['first'] }}" placeholder="First Name">
                    </div>
                  </div>
              </tr></td>
              <tr><td>
                  <!-- Last -->
                  <div class="control-group">
                    <label class="control-label" for="last">Last:</label>
                    <div class="controls">
                      <input type="text" name="last" value="{{ user['last'] }}" placeholder="Last Name">
                    </div>
                  </div>
                  </tr></td>
                    <tr><td>
                   <!-- Website -->
                  <div class="control-group">
                    <label class="control-label" for="web">Website:</label>
                    <div class="controls">
                      <input type="text" name="web" value="{{ user['web'] }}" placeholder="Website">
                    </div>
                  </div>
                  </tr></td>
                    <tr><td>
                   <!-- Email -->
                  <div class="control-group">
                    <label class="control-label" for="email">Email:</label>
                    <div class="controls">
                      <input type="text" name="email" value="{{ user['email'] }}" placeholder="Email">
                    </div>
                  </div>
                  </tr></td>
                    <tr><td>
                   <!-- Blurb -->
                  <div class="control-group">
                    <label class="control-label" for="blurb">Blurb:</label>
                    <div class="controls">
                      <input type="text" name="blurb" value="{{ user['blurb'] }}" placeholder="Blurb Name">
                    </div>
                  </div>
                  </tr></td>
                    <tr><td>

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn">Update</button>
                    </div>
                  </div>
                  </tr></td>
              </table>
                </form>
            </div>
        </div>
    </div>


    <hr>

    <div class="footer">
        <p>&copy; CSPPDB 2012</p>
    </div>

</div> <!-- /container -->
{%  endblock %}