{%  extends "home.html" %}

{%  block main %}
<div class="container-narrow">

    <!-- Modal -->
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li ><a href="{{ url_for('main') }}">Main</a></li>
            <li class="active" ><a href="{{ url_for('profile') }}">Profile</a></li>
            <li ><a href="{{ url_for('find_people') }}">Find People</a></li>
            <li ><a href="{{ url_for('find_tags') }}">Find Tags</a></li>
            <li><a href="{{ url_for('logout') }}">Logout {{ (user.username) }} </a></li>
        </ul>
        <h3 class="muted"><a href="{{ url_for('main') }}">CSPPDB Twitter Clone</a></h3>
    </div>

    <hr>

   
    <div class="container">
        <div class="row">
            <div class="span2">
              <img src="{{ user.img }}" class="img-rounded">
                  <a href="#myModal" style="width:118px; margin-top:5px" role="button" class="btn" data-toggle="modal">Tweet</a>
               <table>
                    <thead>
                    <th>Followers  {{ followeecount }}</th>
                    <th>Following  {{ followercount }}</th>
                    </thead>    
                </table>
            </div>
            <div class="span5">
                <ul class="nav nav-pills">
                    <li class="active" ><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('edit_profile') }}">Edit</a></li>
                   <li><a href="{{ url_for('favorites') }}">Favorites</a></li>

                </ul>
            

    <form class="form-horizontal">
            <table class="table table-striped table-hover">
            <!-- First -->
                <tr>
                    <td>
                      <div class="control-group">
                        <label class="control-label" for="First">First:</label>
                        <div class="controls" style="line-height:25px">
                          <b>{{ user['first'] }}</b>
                        </div>
                      </div>
                  </td>
              </tr>
                  <tr>
                  <td>
                      <!-- Last -->
                      <div class="control-group">
                        <label class="control-label" for="Last">Last:</label>
                          <div class="controls" style="line-height:25px">
                          <b>{{ user['last'] }}</b>
                        </div>
                      </div>
                  </td>
              </tr>
                       <!-- Website -->
                       <tr>
                       <td>
                      <div class="control-group">
                        <label class="control-label" for="Website">Website:</label>
                          <div class="controls" style="line-height:25px">
                          <b>{{ user['web'] }}</b>
                        </div>
                      </div>
                  </td>
              </tr>
                       <!-- Email -->
                       <tr>
                       <td>
                      <div class="control-group">
                        <label class="control-label" for="Last">Email:</label>
                          <div class="controls" style="line-height:25px">
                          <b>{{ user['email'] }}</b>
                        </div>
                      </div>
                  </td>
              </tr>
                       <!-- Blurb -->
                       <tr>
                       <td>
                      <div class="control-group">
                        <label class="control-label" for="Blurb">Blurb:</label>
                          <div class="controls" style="line-height:25px">
                          <b>{{ user['blurb'] }}</b>
                        </div>
                      </div>
                  </td>
              </tr>
            </table>
                    
                    </form>
                          
            </div>
        </div>
    </div>


    <hr>

    <div class="footer">
        <p>&copy; CSPPDB 2012</p>
    </div>

</div> <!-- /container -->
{%  endblock %}